.nav-container {
    height: 60px;
    background-color: var(--clr-banner);
    color: var(--clr-primary2);
    justify-content: space-between;
    padding: .5rem 4rem .5rem 3rem;
}

.logo {
    align-items: self-end;
}

#unilife {
    margin-left: .75rem;
}

.logo>h1 {
    font-size: var(--fs-500);
}

.smol {
    font-size: var(--fs-400);
    margin-left: .5rem;
}

.contact {
    margin-left: 2.5rem;
}

.contact-btn {
    background-color: transparent;
    border: none;
    color: var(--clr-primary2);
    cursor: pointer;
}

/*~modal*things~*/

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-primary2);
    padding: 30px;
    width: fit-content;
    border-radius: 16px;
}

.modal-title {
    font-size: var(--fs-500);
}

.mail-icon {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    color: var(--clr-accent);
}

.words {
    font-size: var(--fs-450);
}

.contact-form {
    display: flex;
    justify-content: space-between;
}

.left-form {
    width: 45%
}

select {
    height: 2rem;
}

.right-form {
    width: 45%;
}

.input {
    height: 2rem;
    margin-top: 8px;
    background-color: var(--clr-primary2);
    border: 1px solid var(--clr-secondary);
    border-radius: 8px;
    padding: 4px;
}

.form-section {
    margin-bottom: 16px;
}
